<div class="ov-audit">
    
    <div id="filterArea">
        <div id="filterForm">
            <form name="auditSearchForm" ng-submit="$ctrl.addIntermediate()">
                <div class="ov-audit-form ov-audit-flex-container">
                    <div>
                        <select class="form-control ov-audit-select" ng-change="$ctrl.suggestions=[]" ng-model="$ctrl.field">
                            <option value="UserName">User ID</option>
                            <option value="Template">Template</option>
                            <option value="Key">Description Key</option>
                            <option value="Type">Type</option>
                            <option value="SubType">SubType</option>
                            <option value="Value">Value</option>
                        </select>
                    </div>
                    <div ng-class="{'has-error': (auditSearchForm.value.$invalid && auditSearchForm.$submitted)}">
                        <input class="ov-audit-input form-control" type="text"
                               name="value"
                               id="auditSearchBox"
                               ng-model="$ctrl.filterValue"
                               list="auditSuggestion"
                               required>
                               <datalist id="auditSuggestion">
                                <option ng-repeat="value in $ctrl.suggestions track by $index" value={{value}}>
                              </datalist></input>
                        <span class="help-block" ng-show="auditSearchForm.value.$invalid && auditSearchForm.$submitted">
                            <span ng-show="auditSearchForm.value.$error.required">Value cannot be blank.</span>
                        </span>
                    </div>
                    <div>
                    <button class="form-control" type="submit" formnovalidate>Add Filter</button>
                    </div>
                </div>
            </form>

            <div class="dateTimeContainer flex-row-right">
                <ov-date-range-picker class='flex-row-right ov-audit-flex-container' date-range-params="$ctrl.dateRangeParams"></ov-date-range-picker>
            </div>
            
            <button class="submitFilters form-control" ng-click="$ctrl.auditSearch()" formnovalidate>Submit</button>
        </div>
        <ul id="ov-audit-filter-list">
            <li ng-repeat="f in $ctrl.filters" class="ov-audit-tags">
                {{$ctrl.display[f.field]}}: {{f.value}}
                <button title="Remove filter"
                        ng-click="$ctrl.deleteFilter($index)"
                        class="glyphicon glyphicon-remove icon-enabled"></button>
            </li>
            <li ng-repeat="f in $ctrl.intermediates" class="ov-audit-tags intermediateFilter">
                {{$ctrl.display[f.field]}}: {{f.value}}
                <button title="Remove filter"
                        ng-click="$ctrl.deleteIntermediate($index)"
                        class="glyphicon glyphicon-remove icon-enabled"></button>
            </li>
        </ul>
    </div>

    <br>
    <!--  While logically a switch would be a better option, in order for jQuery to change the max-height the component needs to exist. If a switch were used, then the component will only exist when the case is true. -->
    <div id="auditTable">
        <div class="tableStandIn" ng-hide="$ctrl.searchedOnce">
            Please add a filter or dateRange
        </div>
        
        <ov-table ng-show="$ctrl.searchedOnce" class="ov-audit-table" table-src="$ctrl.auditSrc" table-data="$ctrl.getTableData"></ov-table>
    </div>
    
    
    <br/>
</div>